body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #034f84;
  }
  
  header {
	background-color: #92a8d1;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
  }

  
  h1 {
	margin: 0;
  }

h2{
	background-color: #fefbd8;
}
  
  main {
	max-width: 700px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  #quiz {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
	padding: 10px;
	font-size: 1.3em;
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  li {
	margin: 15px 0;
  }
  
  label {
	display: block;
	font-size: 1.1em;
	cursor: pointer;
  }
  
  input[type="radio"] {
	margin-right: 10px;
	margin-top: 2px;
  }
  
  button#submit {
	background-color:  #c94c4c;
	display: block;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/* align-self: flex-end; */
  }
  
button#submit:hover {
	background-color: #f7786b;
}
#result{
	box-shadow: 0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
	padding: 10px;
	font-size: 1.5em;
}

#retry{
	background-color: #96ceb4;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
	padding: 10px 20px;
	display: block;
}  
#retry:hover{
	background-color:#588c7e;
}